@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline:.1rem solid rgba(0, 0, 0, .1);
    --outline-hover:.2rem solid var(--black);
}

* {
    font-size: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2.2rem;
    color: var(--black);

}

.heading span {
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}

.btn:hover {
    background: var(--orange);
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
/*header*/
.header .logo {
    font-size: 1.3rem;
    font-weight: bolder;
    color: (--black);
}

.header .logo i {
    color:var(--orange);
}

.header .navbar a {
    font-size: 1.2rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div{
    height: 2.2rem;
    width: 2.2rem;
    line-height: 2.2rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 1rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color:#fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top:110%;
    right: -110%;
    max-width: rem;
    height: 2rem;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 1.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color:var(--orange);
}

.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 20rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color:var(--black)
}

.header .login-form .box {
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p {
    font-size: 1rem;
    padding: .5re, 0;
    color:var(--light-color);
}

.header .login-form p a {
    color: var(--orange);
    text-decoration: underline;
}
/*menu, home*/
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1633158829585-23ba8f7c8caf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNyZWRpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 16rem;
}

#home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span{
    color: var(--orange);
    
}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}
/*menu features*/
.features .box-container {
    display: flex;
    gap: 3.5rem;
}

.features .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    
}

.features .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1.2rem;
    line-height: 1.2;
    color: var(--light-color);
    padding: 1rem 0;
}


/*order*/
.conteiner {
    max-width: 125rem;
    margin: 0 auto;
}

.order {
    padding-top: 55px;
}

.order-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order_box_inner {
    display: flex;
    overflow: hidden;
    margin: 1rem 2rem;
    font-size: 1rem;
    flex-direction: column;
}

.order-box .order_box_inner {
    padding: 2rem;
}

.order-box .order_box_inner:first-child {
    margin-bottom: 2rem;
}
.order-box .order_box_inner h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.order_img {
    width: 20rem;
    height: 15rem;
    border-radius: 3rem;
}


.order-box .order_box_inner {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 0.3rem;
    outline-offset: 0.2rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.order-box .order_box_inner:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover)
}

.order-box .order_box_inner .stars {
    font-size: 1.7rem;
    color: var(--orange);
    padding: 1rem;
}

.order-box .order_box_inner .price {
    font-size: 2rem;
    color: var(--light-color);
   
}

/*partners*/
.partners {
    padding-top: 50px;
}
.partners .partners-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.partners .partners-container .partners-box {
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
    border: .4rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
    border-radius: 3rem;
}

.partners .partners-container .partners-box .partners_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:-100%;
    left: 0;
}

.partners .partners-container .partners-box .partners-content {
    text-align: center;
    background: #fff;
    padding: 2rem;

}

.partners .partners-container .partners-box .partners-content img {
    margin: 1.5rem 0;
    width: 25rem;
}

.partners .partners-container .partners-box .partners-content h3 {
    font-size: 1.8rem;
    color: #333;
}

.partners .partners-container .partners-box .partners-content p {
    font-size: 1.2rem;
    color: #666;
    padding: 1rem 0;
}

.partners .partners-container .partners-box:hover .partners_img {
    top:0;
} 

.partners .partners-container .partners-box:hover .partners-content {
    transform: translateY(100%);
}

/*register*/
.register {
    padding-top: 50px;
}
.register-container {
    background: rgb(202, 202, 202);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 0 15px;
    
}

.register-form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px ;
    padding-bottom: 20px ;
    position: relative;
}

.form-control label {
    /*display: inline-block;*/
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #fff;
    border-radius: 4px;
    display: block;
    font-size: 8px;
    padding: 10px;
    width: 100%;

}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
}

/*contacts*/
.contacts {
    padding-top: 60px;
}

.contacts_inner {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    

}

.card {
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}



.card-icon {
    font-size: 20px;
    background: var(--orange);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3 linear;
}


.card:hover .card-icon {
    background: none;
    color:#ff6348;
    transform: scale(1.6);
}

.contacts {
    font-size: 1.8rem;
    color: #333;
}

.card p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3 linear;
}

.card:hover p {
    max-height: 40px;
    opacity: 1;
}

/*transfers*/
.tranfers {
    padding-top: 50px;
}

.container-transfers {
    padding: 0 15px;
    margin-left: 20px;
    margin-right: 20px;


}

.transfer_inner {
    display: flex;
    overflow: hidden;
    margin: 1rem 2rem;
    font-size: 1rem;
    flex-direction: column;
    padding-bottom: 10px;
}

.transfer_inner .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 0.3rem;
    outline-offset: 0.2rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.transfer_inner .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover)
}

.transfer_inner .box:first-child {
    margin-bottom: 2rem;
}

.transfer_inner .box h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.transfer_inner .box img {
    width: 20rem;
    height: 15rem;
    border-radius: 3rem;
    justify-content: center;

}

/*footer*/
.footer {
    background: #fff;
    padding-top: 10px;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.2rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    align-items: center;
}

.footer .box-container .box .share a:hover {
    background: var(--orange);
    color: #fff;
}

.footer p {
    padding-top: 10px;
    color: var(--orange);
    color: #fff;
}

.footer p:hover {
    color: rgb(211, 161, 161);
}





























/*media quires*/

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:680px) {

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;

    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 1.5rem;
    }

    .contacts_inner {
        flex-direction: column;
    }


    .card {
        width: 100%;
        
        max-width: 20px;
        margin: 10px 0;
    }
    .card-icon {
        font-size: 10px;
        background: var(--orange);
        width: 10px;
        height: 10px;
        text-align: center;
        line-height: 10px !important;
        border-radius: 50%;
        transition: 0.3 linear;
    }

    .box-container{
        flex-direction: column;
    }

    .card p {
        margin-top: 20px;
        font-weight: 30;
        letter-spacing: 1px;

    }
    

    .footer-col {
        width: 50%;

    } 
}